<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/semantic.css' %}" media="screen" title="no title">
    <link rel="stylesheet" href="{% static 'css/detail.css' %}" media="screen" title="no title">
    <script src="{% static 'js/vue1.js' %}"></script>
    <script src="{% static 'js/js.cookie.js' %}"></script>
    <script src="{% static 'js/reqwest.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/semantic.js' %}"></script>
    <title>问题详情页</title>
    <style>
    [v-cloak] {
      display: none;
    }
    </style>
  </head>
  {% verbatim %}
  <body id="app" v-cloak>

    <!--菜单开始-->
    <div id="global-nav" style="box-shadow: 2px 5px 5px #888888;">
      <div class="ui inverted fixed compact borderless menu" style="height:46px;">
        <a  class="item" href="http://127.0.0.1:8000/home" style="cursor=pointer;">
          <div class="ui image">
            <img src="http://127.0.0.1:8000/static/images/logo.png" alt="" />
          </div>
        </a>
        <div href="#" class="item">
          <div class="ui icon input">
            <input type="text" placeholder="搜索你感兴趣的内容...">
            <i class="search icon"></i>
          </div>
        </div>
        <a class="item">
          <img src="http://127.0.0.1:8000/static/images/question_icon.png" alt="" class="ui icon"/>
          <span>提问</span>
        </a>
        <a class="active item">
          <img src="http://127.0.0.1:8000/static/images/read_icon.png" alt="" class="ui icon"/>
          <span>阅读</span>
        </a>
        <a class="item">
          <img src="http://127.0.0.1:8000/static/images/answer_icon.png" alt="" class="ui icon"/>
          <span>回答</span>
        </a>
        <div class="right menu">
          <div class="item">
            <img class="ui mini rounded icon" v-bind:src="userprofile.avatar" alt="" style="width:35px;height:35px;"/>
            <span>{{ userprofile.nickname }}</span>
          </div>
        </div>
      </div>
    </div>
    <!--菜单结束-->
    <!--问题开始-->
    <div class="question">
      <div class="tag-label">
        <template v-for="tag in question.tags">
          <div class="ui circular label">{{ tag.name }}</div>
        </template>
      </div>
      <div class="ui header">
        <h3>{{ question.title }}</h3>
        <div class="sub header">
          <div class="sub header">
            {{ question.info }}
          </div>
        </div>
      </div>
      <div id="divider">
        <div class="ui divider"></div>
        <div class="ui header number">共{{ answers.length }}个回答</div>
        <div class="ui divider"></div>
      </div>
    </div>
    <!--问题结束-->
    <!--正文开始-->
    <template v-if="has_answers == true" v-for="answer in answers">
      <div class="item-answer">
        <div class="p-answer">
          <!-- 如果投过赞同票 -->
          <button class="ui icon button up" type="button" name="button" style="background:#2d84cc;" v-if="answer.choose == 'like'" v-on:click="request_vote_api(answer.answer_id,'like',$index)">
            <img src="http://127.0.0.1:8000/static//images/upvote_icon.png" alt=""/>
            <div class="number" style="color:white;">{{ answer.voters_count }}</div>
          </button>
          <!-- 如果没有投过赞同票 -->
          <button class="ui icon button up" type="button" name="button" style="background:#eef3f7;" v-else v-on:click="request_vote_api(answer.answer_id,'like',$index)">
            <img src="http://127.0.0.1:8000/static//images/upvote_icon.png" alt="" />
            <div class="number">{{ answer.voters_count }}</div>
          </button>
          <!-- 如果投过反对票 -->
          <button class="ui icon button down" type="button" name="button" style="background:#2d84cc;" v-if="answer.choose == 'unlike'" v-on:click="request_vote_api(answer.answer_id,'unlike',$index)">
            <img src="http://127.0.0.1:8000/static//images/downvote_icon.png" alt="" />
          </button>
          <!-- 如果没有投过反对票 -->
          <button class="ui icon button down" type="button" name="button" style="background:#eef3f7;" v-else v-on:click="request_vote_api(answer.answer_id,'unlike',$index)">
            <img src="http://127.0.0.1:8000/static//images/downvote_icon.png" alt="" />
          </button>
        </div>
        <div class="c-answer">
          <div class="ui text menu">
            <div class="ui header">
              {{ answer.nickname }},<span> {{ answer.signature }}</span>

              <!-- 点赞等于0的情况-->
              <div class="sub header" v-if="answer.voters_count == 0">
                如果回答不错，就给答主点个赞👍吧
              </div>
              <!-- voter >0 && <=5-->
              <div class="sub header" v-if="answer.voters_count > 0 && answer.voters_count <=5">
                <template v-for="name in answer.voters">
                  <template v-if="$index != answer.voters.length -1">
                    {{ name }},
                  </template>
                  <template v-else>
                    {{ name }}
                  </template>
                </template>
                刚刚点了赞同
              </div>
              <!-- count > 5的时候-->
              <div class="sub header" v-if="answer.voters_count > 5">
                <template v-for="name in answer.voters">
                  <template v-if="$index != answer.voters.length - 1">
                    {{ name }},
                  </template>
                  <template v-else>
                    {{ name }}
                  </template>
                </template>
                ...共{{ answer.voters_count }}人点了赞同👍
              </div>

            </div>
            <div class="ui image user-icon">
              <img alt="" v-bind:src="answer.avatar" style="width:38px;height:38px;"/>
            </div>
          </div>
          <div class="r-answer">
            <template v-for="line in answer.content.split('\n')">
              <p>{{ line }}</p></br>
            </template>
          </div>
          <div class="ui text menu meta-item">
            <div class="item">
              发布于{{ answer.created_date }}
            </div>
            <div class="item">
              <div class="ui image">
                <img src="http://127.0.0.1:8000/static//images/comment_icon.png" alt="" />
              </div>
              共{{ answer.comments_count }}条评论
            </div>
          </div>
          <div class="ui divider"></div>
        </div>
      </div>

      <!--<div class="item-answer">
        <div class="p-answer">
          <button class="ui icon button up" type="button" name="button">
            <img src="http://127.0.0.1:8000/static//images/upvote_icon.png" alt="" />
            <div class="number">62</div>
          </button>
          <button class="ui icon button down" type="button" name="button">
            <img src="http://127.0.0.1:8000/static//images/downvote_icon.png" alt="" />
          </button>
        </div>
        <div class="c-answer">
          <div class="ui text menu">
            <div class="ui header">
              翁淼青,<span> duilib作者</span>
              <div class="sub header">
                杨大神、快刀武士、贺老师、葛质量、phodal等62人赞同
              </div>
            </div>
            <div class="ui image user-icon">
              <img src="http://127.0.0.1:8000/static/images/avatar_4.png" alt="" />
            </div>
          </div>
          <div class="r-answer">
            <p>
              厚着脸皮占个坑 <br>
              duilib:<a href="#">GitHub - duilib/duilib</a><br>
              目前star 900+，还不达标，不过考虑到早期开源在google code以及一些衍生项目，应该是有1000+的。
            </p>
            <p>
              作用：
              duilib是基于布局和组合理念而设计的一个windows下gui库，代码简洁高效稳定。
            </p>
            <p>值得一提的事： <br>
              做duilib之前，我对界面开发也是个新手，虽然有多年的编程经验，但基本没写过界面代码。基于vikseo的开源项目大幅重构后发布了duilib第一版，怀着忐忑的心情发到csdn论坛上，居然有几个不认识的网友在帮忙宣传推广和维护，最早是踏雪流云，后来又来了tojen和daviyang等几个新朋友，大家热心的提交patch、编写demo、献言献策，本人内心受到很大的鼓舞，就正式把duilib作为一个开源项目来做。到今年8月份duilib也差不多6周年了，虽然作为一个传统的pc项目，他已经不那么酷了，但作为一个广泛应用的ui库，我个人会一直维护下去的。从长远看中小团队开发的通用ui项目已经很难和blink/webkit这类大型项目竞争了，html5+桌面开发平台会越来越流行（比如楼上的electron和nwjs），但duilib还继续会在对大小和性能有要求的客户端产品上继续占一席之地，并谋求跨平台跨终端的发展。
            </p>
            <p>
              奇葩的事:<br>
              很早以前，有个珠海的程序员给duilib做了个论坛，后来就宣称自己是duilib的开发者和管理者，被质疑就到处说他从duilib开发团队分裂，要去做一个牛逼的html5桌面开发框架。实际上，duilib一直托管在google code（早期）和github（目前）上，谁有提交一清二楚，此君没有提交权限也没有提交过一行代码甚至一个bug呢。
            </p>
            <p>
              对生活的影响：<br>
              10、11年的时候有过多次半夜调试的经历，后来基本没有了，偶尔和朋友或同事聊天，能看到对方一脸惊讶的表示，duilib原来是你写的，我在项目中用过或正在用呢，然后内心小得意一下。
            </p>
          </div>
          <div class="ui text menu meta-item">
            <div class="item">
              发布于2016-05-24
            </div>
            <div class="item">
              <div class="ui image">
                <img src="http://127.0.0.1:8000/static//images/comment_icon.png" alt="" />
              </div>
              收起评论
            </div>
          </div>

          <div class="ex-comment">
            <div class="ui basic center aligned segment upangle">
              <i class="icon up large angle" style=""></i>
            </div>
            <div class="ui segment" style="overflow:auto;margin-top:0;position:relative;">
              <div class="ui comments">
                <div class="comment">
                  <a class="avatar">
                    <img src="http://127.0.0.1:8000/static//images/avatar_1.png" alt="" />
                  </a>
                  <div class="content">
                    <a class="author">韦易笑</a>
                    <div class="text">挺好一个库，可惜错过了界面脚本化的大潮,cef，pyqt，qt+js，electron，都可以用各种各样的动态语言进行开发，效率是比传统C++快三倍以上。</div>
                    <div class="actions">
                      <span class="date" style="color: grey;">5月前</span>
                      <i class="icon reply grey"></i>
                      <a class="reply">回复</a>
                    </div>
                  </div>
                </div>
                <div class="ui divider"></div>
                <div class="comment">
                  <a class="avatar">
                    <img src="http://127.0.0.1:8000/static//images/avatar_2.png">
                  </a>
                  <div class="content">
                    <a class="author">刘二</a>
                    <div class="text">老实说写的不好，用着别扭的地方不少，有个叫duivision比你的强多了，也谦虚多了！</div>
                    <div class="actions">
                      <span class="date" style="color: grey;">5月前</span>
                    </div>
                  </div>
                </div>
                <div class="ui divider"></div>
                <div class="comment">
                  <a class="avatar">
                    <img src="http://127.0.0.1:8000/static//images/avatar_2.png">
                  </a>
                  <div class="content">
                    <a class="author">韩民政</a>
                    <span style="color: grey;">回复</span>
                    <a class="author">刘二</a>
                    <div class="text">哪儿看出作者不谦虚了。</div>
                    <div class="actions">
                      <span class="date" style="color: grey;">5月前</span>
                    </div>
                  </div>
                </div>
                <form class="ui reply form">
                  <div class="ui input" style="width:100%;">
                    <input type="text" >
                  </div>
                  <button class="ui button" style="float: right;color:#fff;background-color:#3e78ad;margin-top:14px;">评论</button>
                  <button class="ui button" style="float: right;background-color:#ffffff;margin-top:14px;">取消</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>-->
    </template>

    <!-- reply 控件 -->
    <div class="reply-input">
      <div class="ui text menu">
        <div class="header item">
          <a>{{ userprofile.nickname }}</a><span>,添加你的回答</span>
        </div>
        <div class="right menu">
          <div class="ui image">
            <img v-bind:src="userprofile.avatar" alt="" style="width:26px;height:26px;"/>
          </div>
        </div>
      </div>
      <div class="ui card" style="width:100%;">
        <div class="image" style="height: 38px;">
          <i class="icon picture grey large"></i>
          <i class="icon code large"></i>
        </div>
        <div class="content" style="padding:0;">
          <textarea style="" placeholder=" 写回答..."></textarea>
        </div>
      </div>
      <button class="ui button">发布回答</button>
    </div>
    <!--正文结束-->
    <!--页脚-->
    <div class="zh-footer">
        <div class="ui divider"></div>
        <span class="f-left">Developed by Mugglecoding team xxx</span>
        <span class="f-middle">
          <a href="#" target="_blank">关于我们 .</a>
          <a href="#" target="_blank">加入我们 .</a>
          <a href="#" target="_blank">联系我们</a>
        </span>

        <span class="f-right">京ICP备15047012号-2 </span>
    </div>
    <!-- vue 脚本 -->
  <script>
    // string format
    String.prototype.format = function () {
      var i = 0, args = arguments;
      return this.replace(/{}/g, function () {
        return typeof args[i] != 'undefined' ? args[i++] : '';
      });
    };

      var app = new Vue({
        el : '#app',
        data : {
          question : {},
          userprofile : {},
          has_answers : false,
          answers : [],
        },
        methods : {
          get_userprofile : function(){
            var self = this;
            reqwest({
              url : 'http://127.0.0.1:8000/api/userprofile',
              method : 'get',
              type : 'json',
              headers:Cookies.get('token')? {'Authorization': 'Token ' + Cookies.get('token')}:{},
              success : function(resp){
                console.log('userprofile is ok !');
                self.userprofile = resp;
              },
              error : function(error){
                console.log('userprofile not work !');
                console.log(error);
              }
            });
          },
          get_keyword : function(name){
            if(name=(new RegExp('[?&]'+encodeURIComponent(name)+'=([^&]*)')).exec(location.search))
            return decodeURIComponent(name[1]);
          },
          get_question : function(){
            var self = this;
            var question_id = self.get_keyword('id');
            var url = 'http://127.0.0.1:8000/api/question/{}'.format(String(question_id))
            reqwest({
              url : url,
              method : 'get',
              type : 'json',
              headers:Cookies.get('token')? {'Authorization': 'Token ' + Cookies.get('token')}:{},
              success : function(resp){
                console.log('get question ok !');
                self.question = resp;
              },
              error : function(error){
                console.log('get question wrong !');
              }
            });
          },
          // get answers
          get_answers : function(){
            var self = this;
            var qid = self.get_keyword('id');
            var url = 'http://127.0.0.1:8000/api/answer/{}'.format(String(qid));
            // 请求接口
            reqwest({
              url : url,
              method : 'get',
              type : 'json',
              headers:Cookies.get('token')? {'Authorization': 'Token ' + Cookies.get('token')}:{},
              success : function(resp){
                console.log('get answer is ok!');
                if (resp.count == 1) {
                  self.answers.push(resp.data);
                }else if (resp.count > 1) {
                  self.answers = resp.data;
                }
                self.has_answers = true;
              },
              error : function(error){
                console.log('get answer wrong !');
                console.log(error);
                if (error.status == 404) {
                  console.log('status is 404');
                }
                self.has_answers = false;
              }
            });
          },
          // request voter api
          request_vote_api : function(id,choose,a_index){

            var self = this;
            reqwest({
              url : 'http://127.0.0.1:8000/api/vote',
              method : 'post',
              type : 'json',
              data : {
                answer_id:id,
                choose : choose,
              },
              headers:Cookies.get('token')? {'Authorization': 'Token ' + Cookies.get('token')}:{},
              success : function(resp){
                console.log('request vote api ok !');
                var nickname = resp.data.belong_to_userprofile.nickname;
                if (self.answers[a_index].choose == 'like' && resp.data.choose != 'like') {
                  // 减出来
                  self.answers[a_index].voters_count -= 1;
                  // 遍历数组得到要删除的对象下标
                  var index = 0;
                  for (var i = 0; i < self.answers[a_index].voters.length; i++) {
                    if (self.answers[a_index].voters[i] == nickname) {
                      index = i ;
                    }
                  }
                  self.answers[a_index].voters.splice(index,1);
                }else if (self.answers[a_index].choose != 'like' && resp.data.choose == 'like') {
                  // 加进去
                  self.answers[a_index].voters_count += 1;
                  self.answers[a_index].voters.unshift(nickname);
                }
                self.answers[a_index].choose = resp.data.choose;
              },
              error : function(error){
                console.log('request vote api wrong !');
              }
            });
          },

        },
        ready : function(){
          this.get_question();
          this.get_userprofile();
          this.get_answers();
        }
      })
    </script>
    </body>
    {% endverbatim %}
</html>
