<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/semantic.css' %}" media="screen" title="no title">
    <link rel="stylesheet" href="{% static 'css/detail.css' %}" media="screen" title="no title">
    <script src="{% static 'js/vue1.js' %}"></script>
    <script src="{% static 'js/js.cookie.js' %}"></script>
    <script src="{% static 'js/reqwest.js' %}"></script>
    <script src="{% static 'js/semantic.js' %}"></script>
    <script src="{% static 'js/moment.js' %}"></script>
    <script src="{% static 'js/zh-cn.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <title>问题详情页</title>
    <style>
    [v-cloak] {
      display: none;
    }
    </style>
  </head>
  {% verbatim %}
  <body id="app" v-cloak>

    <!--菜单开始-->
    <div id="global-nav" style="box-shadow: 2px 5px 5px #888888;">
      <div class="ui inverted fixed compact borderless menu" style="height:46px;">
        <a  class="item" href="http://127.0.0.1:8000/home" style="cursor=pointer;">
          <div class="ui image">
            <img src="http://127.0.0.1:8000/static/images/logo.png" alt="" />
          </div>
        </a>
        <div href="#" class="item">
          <div class="ui icon input">
            <input type="text" placeholder="搜索你感兴趣的内容...">
            <i class="search icon"></i>
          </div>
        </div>
        <a class="item">
          <img src="http://127.0.0.1:8000/static/images/question_icon.png" alt="" class="ui icon"/>
          <span>提问</span>
        </a>
        <a class="active item">
          <img src="http://127.0.0.1:8000/static/images/read_icon.png" alt="" class="ui icon"/>
          <span>阅读</span>
        </a>
        <a class="item">
          <img src="http://127.0.0.1:8000/static/images/answer_icon.png" alt="" class="ui icon"/>
          <span>回答</span>
        </a>
        <div class="right menu">
          <div class="item">
            <img class="ui mini rounded icon" v-bind:src="userprofile.avatar" alt="" style="width:35px;height:35px;"/>
            <span>{{ userprofile.nickname }}</span>
          </div>
        </div>
      </div>
    </div>
    <!--菜单结束-->
    <!--问题开始-->
    <div class="question">
      <div class="tag-label">
        <template v-for="tag in question.tags">
          <div class="ui circular label">{{ tag.name }}</div>
        </template>
      </div>
      <div class="ui header">
        <h3>{{ question.title }}</h3>
        <div class="sub header">
          <div class="sub header">
            {{ question.info }}
          </div>
        </div>
      </div>
      <div id="divider">
        <div class="ui divider"></div>
        <div class="ui header number">共{{ answers.length }}个回答</div>
        <div class="ui divider"></div>
      </div>
    </div>
    <!--问题结束-->
    <!--正文开始-->
    <template v-if="has_answers == true" v-for="answer in answers">
      <div class="item-answer">
        <div class="p-answer">
          <!-- 如果投过赞同票 -->
          <button class="ui icon button up" type="button" name="button" style="background:#2d84cc;" v-if="answer.choose == 'like'" v-on:click="request_vote_api(answer.answer_id,'like',$index)">
            <img src="http://127.0.0.1:8000/static//images/upvote_icon.png" alt=""/>
            <div class="number" style="color:white;">{{ answer.voters_count }}</div>
          </button>
          <!-- 如果没有投过赞同票 -->
          <button class="ui icon button up" type="button" name="button" style="background:#eef3f7;" v-else v-on:click="request_vote_api(answer.answer_id,'like',$index)">
            <img src="http://127.0.0.1:8000/static//images/upvote_icon.png" alt="" />
            <div class="number">{{ answer.voters_count }}</div>
          </button>
          <!-- 如果投过反对票 -->
          <button class="ui icon button down" type="button" name="button" style="background:#2d84cc;" v-if="answer.choose == 'unlike'" v-on:click="request_vote_api(answer.answer_id,'unlike',$index)">
            <img src="http://127.0.0.1:8000/static//images/downvote_icon.png" alt="" />
          </button>
          <!-- 如果没有投过反对票 -->
          <button class="ui icon button down" type="button" name="button" style="background:#eef3f7;" v-else v-on:click="request_vote_api(answer.answer_id,'unlike',$index)">
            <img src="http://127.0.0.1:8000/static//images/downvote_icon.png" alt="" />
          </button>
        </div>
        <div class="c-answer">
          <div class="ui text menu">
            <div class="ui header">
              {{ answer.nickname }},<span> {{ answer.signature }}</span>

              <!-- 点赞等于0的情况-->
              <div class="sub header" v-if="answer.voters_count == 0">
                如果回答不错，就给答主点个赞👍吧
              </div>
              <!-- voter >0 && <=5-->
              <div class="sub header" v-if="answer.voters_count > 0 && answer.voters_count <=5">
                <template v-for="name in answer.voters">
                  <template v-if="$index != answer.voters.length -1">
                    {{ name }},
                  </template>
                  <template v-else>
                    {{ name }}
                  </template>
                </template>
                刚刚点了赞同
              </div>
              <!-- count > 5的时候-->
              <div class="sub header" v-if="answer.voters_count > 5">
                <template v-for="name in answer.voters">
                  <template v-if="$index != answer.voters.length - 1">
                    {{ name }},
                  </template>
                  <template v-else>
                    {{ name }}
                  </template>
                </template>
                ...共{{ answer.voters_count }}人点了赞同👍
              </div>

            </div>
            <div class="ui image user-icon">
              <img alt="" v-bind:src="answer.avatar" style="width:38px;height:38px;"/>
            </div>
          </div>
          <div class="r-answer">
            <template v-for="line in answer.content.split('\n')">
              <p>{{ line }}</p></br>
            </template>
          </div>
          <div class="ui text menu meta-item">
            <div class="item">
              发布于{{ answer.created_date | format_date }}
            </div>
            <div class="item" style="cursor:pointer;" v-on:click="comment_show_or_not(answer,$index)">
              <div class="ui image">
                <img src="http://127.0.0.1:8000/static/images/comment_icon.png" alt="" />
              </div>
              <!-- 当 comments_count == 0-->
               <span v-if="answer.comments_count == 0 && answer.comment_show == false">暂无评论</span>
               <!-- 收起状态-->
               <span v-if="answer.comments_count > 0 && answer.comment_show == false">共{{ answer.comments_count }} 条评论</span>
               <!-- 展开状态-->
               <span v-if="answer.comments_count > 0 && answer.comment_show == true">{{ answer.comments_count }} 收起评论</span>
               <!-- 添加评论-->
               <span v-if="answer.comments_count == 0 && answer.comment_show == true">添加评论</span>
            </div>
          </div>

          <!-- 评论区 -->
          <div class="ex-comment" v-show="answer.comment_show == true">
            <div class="ui basic center aligned segment upangle">
              <i class="icon up large angle" style=""></i>
            </div>
            <div class="ui segment" style="overflow:auto;margin-top:0;position:relative;">

              <div class="ui comments">
                <template v-for="comment in answer.comments">
                  <!-- no reply -->
                  <template v-if="comment.reply_to == null">
                    <div class="comment" @mouseover="handle_over(comment)" @mouseout="handle_out(comment)">
                      <a class="avatar">
                        <img alt="" v-bind:src="comment.belong_to_userprofile.avatar"/>
                      </a>
                      <div class="content">
                        <a class="author">{{ comment.belong_to_userprofile.nickname }}</a>
                        <div class="text">{{ comment.content }}</div>
                        <div class="actions">
                          <span class="date" style="color: grey;">{{ comment.created_date | format_date }}</span>
                          <span class="reply_to" v-bind:style="{ display : comment.reply_button_show }">
                            <i class="icon reply grey"></i>
                            <a class="reply" v-on:click="handle_reply_input(comment)">回复</a>
                          </span>
                        </div>
                        <!-- @reply input -->
                        <div class="ui reply form" v-if="comment.reply_input_show">
                          <div class="ui input" style="width:100%;">
                            <input type="text" v-model="comment_reply_content" v-bind:placeholder="comment.belong_to_userprofile.nickname | reply">
                          </div>
                          <span class="ui sub header" style="float:left;color:red;" v-if="comment_reply_error">😢说点什么再发布吧</span>
                          <button class="ui button" style="float: right;color:#fff;background-color:#3e78ad;margin-top:14px;margin-bottom:14px;" v-on:click="reply_comment(answer,comment.id,$index)">评论</button>
                          <button class="ui button" style="float: right;background-color:#ffffff;margin-top:14px;display:inline-block;margin-bottom:14px;" v-on:click="handle_reply_input(comment)">取消</button>
                        </div>
                      </div>
                    </div>
                  </template>

                  <!-- reply_to someone -->
                  <template v-else>
                    <div class="comment" @mouseover="handle_over(comment)" @mouseout="handle_out(comment)">
                      <a class="avatar">
                        <img v-bind:src="comment.belong_to_userprofile.avatar"/>
                      </a>
                      <div class="content">
                        <a class="author">{{ comment.belong_to_userprofile.nickname }}</a>
                        <span style="color: grey;">回复</span>
                        <a class="author">{{ comment.reply_to.belong_to_userprofile.nickname }}</a>
                        <div class="text">{{ comment.content }}</div>
                        <div class="actions">
                          <span class="date" style="color: grey;">{{ comment.created_date | format_date }}</span>
                          <span class="reply_to" v-bind:style="{ display : comment.reply_button_show }">
                            <i class="icon reply grey"></i>
                            <a class="reply" v-on:click="handle_reply_input(comment)">回复</a>
                          </span>
                        </div>
                        <!-- @reply input -->
                        <div class="ui reply form" v-if="comment.reply_input_show">
                          <div class="ui input" style="width:100%;">
                            <input type="text" v-model="comment_reply_content" v-bind:placeholder="comment.belong_to_userprofile.nickname | reply">
                          </div>
                          <span class="ui sub header" style="float:left;color:red;" v-if="comment_reply_error">😢说点什么再发布吧</span>
                          <button class="ui button" style="float: right;color:#fff;background-color:#3e78ad;margin-top:14px;margin-bottom:14px;" v-on:click="reply_comment(answer,comment.id,$index)">评论</button>
                          <button class="ui button" style="float: right;background-color:#ffffff;margin-top:14px;display:inline-block;margin-bottom:14px;" v-on:click="handle_reply_input(comment)">取消</button>
                        </div>
                      </div>
                    </div>
                  </template>

                  <!-- ui divider -->
                  <div class="ui divider" v-if="$index != answer.comments.length - 1" style="clear:right;"></div>
                </template>
                <!-- comment input -->
                <div class="ui reply form" style="clear:right;">
                  <div class="ui input" style="width:100%;">
                    <input type="text" v-model="comment_input_content">
                  </div>
                </div>
                <span class="ui sub header" style="float:left;color:red;" v-if="comment_input_error">😢说点什么再发布吧</span>
                <button class="ui button" style="float: right;color:#fff;background-color:#3e78ad;margin-top:14px;" v-on:click="add_new_comment(answer.answer_id,$index)">评论</button>
                <button class="ui button" style="float: right;background-color:#ffffff;margin-top:14px;" v-on:click="comment_show_or_not(answer,$index)">取消</button>
              </div>
            </div>
          </div>
          <div class="ui divider"></div>
        </div>
      </div>

    </template>

    <!-- reply 控件 -->
    <div class="reply-input">
      <div class="ui text menu">
        <div class="header item">
          <a>{{ userprofile.nickname }}</a><span>,添加你的回答</span>
        </div>
        <div class="right menu">
          <div class="ui image">
            <img v-bind:src="userprofile.avatar" alt="" style="width:26px;height:26px;"/>
          </div>
        </div>
      </div>
      <div class="ui card" style="width:100%;">
        <div class="image" style="height: 38px;">
          <i class="icon picture grey large"></i>
          <i class="icon code large"></i>
        </div>
        <div class="content" style="padding:0;">
          <textarea style="" placeholder=" 写回答..."></textarea>
        </div>
      </div>
      <button class="ui button">发布回答</button>
    </div>
    <!--正文结束-->
    <!--页脚-->
    <div class="zh-footer">
        <div class="ui divider"></div>
        <span class="f-left">Developed by Mugglecoding team xxx</span>
        <span class="f-middle">
          <a href="#" target="_blank">关于我们 .</a>
          <a href="#" target="_blank">加入我们 .</a>
          <a href="#" target="_blank">联系我们</a>
        </span>

        <span class="f-right">京ICP备15047012号-2 </span>
    </div>
    <!-- vue 脚本 -->
  <script>
    // string format
    String.prototype.format = function () {
      var i = 0, args = arguments;
      return this.replace(/{}/g, function () {
        return typeof args[i] != 'undefined' ? args[i++] : '';
      });
    };
    // 时间格式化过滤器
    Vue.filter('format_date',function(value){
      moment.locale('zh-cn');
      var date = moment(value, "MM-DD-YYYY HH:mm:ss").fromNow();
      return date;
    });
    // @回复某人过滤器
    Vue.filter('reply', function(value){
      return '@ '+value;
    });


      var app = new Vue({
        el : '#app',
        data : {
          question : {},
          userprofile : {},
          has_answers : false,
          answers : [],
          comment_input_error : false,
          comment_input_content :'',
          comment_reply_content : '',
          comment_reply_error : false,
        },
        methods : {
          // @回复input 显示或隐藏
          handle_reply_input : function(item){
            item.reply_input_show = !item.reply_input_show;
            this.comment_reply_error = false;
            this.comment_reply_content = '';
          },
          // handle_over
          handle_over : function(item){
            item.reply_button_show = 'inline';
          },
          // handle_out
          handle_out : function(item){
            item.reply_button_show = 'none';
          },
          get_userprofile : function(){
            var self = this;
            reqwest({
              url : 'http://127.0.0.1:8000/api/userprofile',
              method : 'get',
              type : 'json',
              headers:Cookies.get('token')? {'Authorization': 'Token ' + Cookies.get('token')}:{},
              success : function(resp){
                console.log('userprofile is ok !');
                self.userprofile = resp;
              },
              error : function(error){
                console.log('userprofile not work !');
                console.log(error);
              }
            });
          },
          get_keyword : function(name){
            if(name=(new RegExp('[?&]'+encodeURIComponent(name)+'=([^&]*)')).exec(location.search))
            return decodeURIComponent(name[1]);
          },
          get_question : function(){
            var self = this;
            var question_id = self.get_keyword('id');
            var url = 'http://127.0.0.1:8000/api/question/{}'.format(String(question_id))
            reqwest({
              url : url,
              method : 'get',
              type : 'json',
              headers:Cookies.get('token')? {'Authorization': 'Token ' + Cookies.get('token')}:{},
              success : function(resp){
                console.log('get question ok !');
                self.question = resp;
              },
              error : function(error){
                console.log('get question wrong !');
              }
            });
          },
          // get answers
          get_answers : function(){
            var self = this;
            var qid = self.get_keyword('id');
            var url = 'http://127.0.0.1:8000/api/answer/{}'.format(String(qid));
            // 请求接口
            reqwest({
              url : url,
              method : 'get',
              type : 'json',
              headers:Cookies.get('token')? {'Authorization': 'Token ' + Cookies.get('token')}:{},
              success : function(resp){
                console.log('get answer is ok!');
                if (resp.count == 1) {
                  self.answers.push(resp.data);
                }else if (resp.count > 1) {
                  self.answers = resp.data;
                }
                self.has_answers = true;
              },
              error : function(error){
                console.log('get answer wrong !');
                console.log(error);
                if (error.status == 404) {
                  console.log('status is 404');
                }
                self.has_answers = false;
              }
            });
          },
          // request voter api
          request_vote_api : function(id,choose,a_index){

            var self = this;
            reqwest({
              url : 'http://127.0.0.1:8000/api/vote',
              method : 'post',
              type : 'json',
              data : {
                answer_id:id,
                choose : choose,
              },
              headers:Cookies.get('token')? {'Authorization': 'Token ' + Cookies.get('token')}:{},
              success : function(resp){
                console.log('request vote api ok !');
                var nickname = resp.data.belong_to_userprofile.nickname;
                if (self.answers[a_index].choose == 'like' && resp.data.choose != 'like') {
                  // 减出来
                  self.answers[a_index].voters_count -= 1;
                  // 遍历数组得到要删除的对象下标
                  var index = 0;
                  for (var i = 0; i < self.answers[a_index].voters.length; i++) {
                    if (self.answers[a_index].voters[i] == nickname) {
                      index = i ;
                    }
                  }
                  self.answers[a_index].voters.splice(index,1);
                }else if (self.answers[a_index].choose != 'like' && resp.data.choose == 'like') {
                  // 加进去
                  self.answers[a_index].voters_count += 1;
                  self.answers[a_index].voters.unshift(nickname);
                }
                self.answers[a_index].choose = resp.data.choose;
              },
              error : function(error){
                console.log('request vote api wrong !');
              }
            });
          },
          // comment_show_or_not
          comment_show_or_not : function(item,index){
            // 评论数不为0的时候才需要展开并请求接口
            item.comment_show =!item.comment_show;
            this.comment_input_error = false;
            this.comment_input_content = '';
            if (item.comments_count > 0) {
              if (item.comment_show == true) {
                // 添加loading样式
                var answer_id = item.answer_id;
                this.request_comment_api(answer_id, index);
              }
            }
          },
          // request comment api
          request_comment_api : function(answer_id,answer_index){
              var url = 'http://127.0.0.1:8000/api/comment/{}'.format(String(answer_id))
              var self = this;
              reqwest({
                url : url,
                method : 'get',
                type : 'json',
                headers:Cookies.get('token')? {'Authorization': 'Token ' + Cookies.get('token')}:{},
                success : function(resp){
                  console.log('request comment is ok');
                  for (var i = 0; i < resp.data.length; i++) {
                    resp.data[i].reply_button_show = 'none';
                    resp.data[i].reply_input_show = false;
                  }
                  // 保存数据
                  self.answers[answer_index].comments = resp.data;
                  self.answers[answer_index].comments_count = resp.data.length;
                },
                error : function(error){
                  console.log('request comment wrong!');
                }
              });
          },
          // add new comment
          add_new_comment : function(answer_id,index){
            // 首先判断输入是否有效
            if (this.comment_input_content.length > 0) {
              // 输入有效 发起请求
              var self = this;
              reqwest({
                url : 'http://127.0.0.1:8000/api/addcomment',
                method : 'post',
                type : 'json',
                headers:Cookies.get('token')? {'Authorization': 'Token ' + Cookies.get('token')}:{},
                data : {
                  answer_id:answer_id,
                  comment_content : self.comment_input_content,
                },
                success : function(resp){
                  console.log('add new comment is ok');
                  self.answers[index].comments.push(resp);
                  self.answers[index].comments_count += 1;
                  // 初始化
                  self.comment_input_content = ''
                  self.comment_input_error = false;
                },
                error : function(){
                  console.log('add new comment wrong!');
                }
              });
            }else{
              // 如果输入无效
              this.comment_input_error = true;
            }
          },
          // reply comment
          reply_comment : function(answer_item,comment_id,index){
            // 首先判断输入是否有效
            console.log('方法运行了');
            if (this.comment_reply_content.length > 0) {
              console.log('请求中');
              // 发起请求
              var self = this;
              reqwest({
                url : 'http://127.0.0.1:8000/api/addcomment',
                method : 'post',
                type : 'json',
                data : {
                  comment_content : self.comment_reply_content,
                  answer_id : answer_item.answer_id,
                  reply_to_id : comment_id,
                },
                headers:Cookies.get('token')? {'Authorization': 'Token ' + Cookies.get('token')}:{},
                success : function(resp){
                  console.log('reply comment is ok');
                  answer_item.comments.splice(index,0,resp);
                  self.comment_reply_content = '';
                  self.comment_reply_error = false;
                },
                error : function(){
                  console.log('reply comment is wrong !');
                }
              });
            }else{
              this.comment_reply_error = true;
            }
          },

        },
        ready : function(){
          this.get_question();
          this.get_userprofile();
          this.get_answers();
        }
      })
    </script>
    </body>
    {% endverbatim %}
</html>
